/libraries/
/logs/
/versions/
/world/data/raids.dat
/world/data/random_sequences.dat
/world/DIM1/
/world/DIM-1/
/world/entities/
/world/playerdata/
/world/poi/
/world/region/
/world/level.dat
/world/level.dat_old
/world/session.lock
/banned-ips.json
/banned-players.json
/ops.json
/server.jar
/usercache.json
/whitelist.json
