name: Bench

on:
  workflow_dispatch:

jobs:
  bench:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        benchmark:
          - "generic_arity_2:touch_check"
          - "generic_arity_2:touch_remove"
          - "generic_arity_3:touch_remove"
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "19"
      - name: Validate gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Setup Minecraft
        uses: mcenv/setup-minecraft@v3
        with:
          version: "snapshot"
      - name: Benchmark
        run: |
          cd server
          curl -L -o mch.jar https://github.com/mcenv/mch/releases/latest/download/mch.jar
          java -jar mch.jar --mc=$MINECRAFT --execute-benchmarks=common:baseline,${{ matrix.benchmark }}
      - name: Upload benchmark results
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.benchmark }}
          path: server/mch-results.json
          retention-days: 1
  merge:
    needs: bench
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          path: versions
      - uses: actions/github-script@v6
        with:
          script: |
            const fs = require("fs");
            const results = {};
            const globber = await glob.create("versions/*/mch-results.json");
            const versions = await globber.glob();
            for (const version of versions) {
              const id = version.slice(0, -"/mch-results.json".length).split("/").pop();
              results[id] = JSON.parse(fs.readFileSync(version));
            }
            fs.writeFileSync("results.json", JSON.stringify(results));
            return;
      - uses: actions/upload-artifact@v3
        with:
          name: results
          path: results.json
